USE [SCHOOL]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phyloxml](
	[Name] [nvarchar](255) NULL,
	[Branch Length] [float] NULL,
	[Branch Length to Root] [float] NULL,
	[Bootstrap] [float] NULL,
	[Distance to Root] [float] NULL,
	[Leafs] [float] NULL,
	[Parent Branch] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Phyloxml] ([Name], [Branch Length], [Branch Length to Root], [Bootstrap], [Distance to Root], [Leafs], [Parent Branch]) VALUES (N'B2', 0.100405, 0.100405, 100, 1, 38, N'Root')
INSERT [dbo].[Phyloxml] ([Name], [Branch Length], [Branch Length to Root], [Bootstrap], [Distance to Root], [Leafs], [Parent Branch]) VALUES (N'B3', 0.41517, 0.515575, 100, 2, 18, N'B2')
INSERT [dbo].[Phyloxml] ([Name], [Branch Length], [Branch Length to Root], [Bootstrap], [Distance to Root], [Leafs], [Parent Branch]) VALUES (N'B4', 0.30159, 0.817165, 97, 3, 16, N'B3')
GO
